PORT=8787
DB_PATH=./data/power.sqlite
CACHE_SECONDS=600
POLL_CONCURRENCY=3
SCHOOL_MAX_CONCURRENCY=3
RATE_LIMIT_PER_MINUTE=60
RATE_LIMIT_QUERY_PER_MINUTE=12
TRUST_PROXY=1
WECHAT_APPID=
WECHAT_SECRET=
WECHAT_LOW_POWER_TEMPLATE_ID=
WECHAT_FIELD_ROOM=thing1
WECHAT_FIELD_POWER=number2
WECHAT_FIELD_TIP=thing3
WECHAT_MINIPROGRAM_STATE=formal
